web/detection_result.png
web/detection_report.json
web/Identify_target.png
web/step_analysis_output
web/experiment_steps_analysis.json

michelsen-web-analyzer/frontend/node_modules

michelsen-web-analyzer/backend/uploads


new8080/frontend/node_modules

michelsen-web-analyzer/frontend/package-lock.json

__pycache__
*.py[cod]